In [1]:
import numpy as np
import pandas as pd
from sklearn.cluster import MeanShift

In [2]:
df = pd.read_csv('checkins.dat', sep='|', skipinitialspace=True, skiprows=[1])
df.head(5)

/anaconda3/lib/python3.6/site-packages/IPython/core/interactiveshell.py:2785: DtypeWarning: Columns (0) have mixed types. Specify dtype option on import or set low_memory=False.
  interactivity=interactivity, compiler=compiler, result=result)

,id,user_id,venue_id,latitude,longitude,created_at
0,984301,2041916.0,5222.0,NaN,NaN,2012-04-21 17:39:01
1,984222,15824.0,5222.0,38.895112,-77.036366,2012-04-21 17:43:47
2,984315,1764391.0,5222.0,NaN,NaN,2012-04-21 17:37:18
3,984234,44652.0,5222.0,33.800745,-84.410520,2012-04-21 17:43:43
4,984249,2146840.0,5222.0,NaN,NaN,2012-04-21 17:42:58

In [3]:
df = df.dropna()

In [4]:
df.head()

,id,user_id,venue_id,latitude,longitude,created_at
1,984222,15824.0,5222.0,38.895112,-77.036366,2012-04-21 17:43:47
3,984234,44652.0,5222.0,33.800745,-84.410520,2012-04-21 17:43:43
7,984291,105054.0,5222.0,45.523452,-122.676207,2012-04-21 17:39:22
9,984318,2146539.0,5222.0,40.764462,-111.904565,2012-04-21 17:35:46
10,984232,93870.0,380645.0,33.448377,-112.074037,2012-04-21 17:38:18

In [5]:
df = df.iloc[:100000]

In [6]:
df.columns = df.columns.str.strip()
df = df.loc[:, 'latitude':'longitude']
df.head(5)

     latitude   longitude
1   38.895112  -77.036366
3   33.800745  -84.410520
7   45.523452 -122.676207
9   40.764462 -111.904565
10  33.448377 -112.074037

In [7]:
MS = MeanShift(bandwidth = 0.1)
MS.fit(df)

MeanShift(bandwidth=0.1, bin_seeding=False, cluster_all=True, min_bin_freq=1,
     n_jobs=1, seeds=None)

In [8]:
labels = MS.labels_
cluster_centers = MS.cluster_centers_

In [9]:
lbl, cnts = np.unique(labels, return_counts=True)

In [10]:
dct = {}
for l, c in zip(lbl, cnts):
    dct[l]=[c][0]

In [11]:
unique=[]
for k in dct:
    if dct[k]>15:
        unique.append(dct[k])

In [12]:
centers = np.empty((len(unique), 2))
for i, j in enumerate(unique):
    centers[i]=cluster_centers[i]

In [39]:
offices = pd.read_csv('officies.txt')
dist_offices = offices.loc[:, ['latitude', 'longitude']]
dist_offices

    latitude   longitude
0  33.751277 -118.188740
1  25.867736  -80.324116
2  51.503016   -0.075479
3  52.378894    4.885084
4  39.366487  117.036146
5 -33.868457  151.205134

In [40]:
distances = []
for index, item in enumerate(centers):
    minimum_distance = np.sqrt(np.sum((item - dist_offices.loc[0])**2))
    for j in range(len(offices)):
        distance = np.sqrt(np.sum((item - dist_offices.loc[j])**2))
        if distance < minimum_distance:
            minimum_distance = distance
    distances.append(minimum_distance)

In [41]:
dist_sorted = np.argsort(distances)

In [42]:
centers_sorted = centers[dist_sorted]

In [43]:
with open('answer.txt', 'w') as file:
    file.write(str(centers_sorted[0, 0]) + ' ' + str(centers_sorted[0, 1]))